@mixin flex ($dir, $jc, $ai) {
    display: flex; 
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
}

@mixin border-radius ($x) {
    border-radius: $x;
}

@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
  }

  @mixin margin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
  }

  @function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
  }

  @mixin font-size($size, $fw, $lh) {
    font-size: $size;
    font-size: calculateRem($size);
    font-weight: $fw;
    line-height: $lh;
}

@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin gradient--title () {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  color: $font-color--main;
  background: $font-color--gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@mixin service--link () {
  font-size: 14px; 
  font-weight: 700;
  line-height: 14px;
  color: $font-color--accent;
  &:hover {
      color: $font-color--hover;
  }
}
