/*setting the values below*/
$size: 100px; 
$color--gradient: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$color--additional: #F0145A;
$color--separator: #E6E6F0;
$color--background: #F5F5FA;
$font-color--main: #FFFFFF;
$font-color--disabled: #B3B3BA;
$font-color--gradient: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$font-color--hover: #F0145A;
$font-color--accent: #24A3FF;
$font-color--regular: #323264;
$font-color--basic: #000000;
$width: 100%;
$fw: 400; /*font-weight*/
$z: 100; /*z-index*/

/*importing mixin*/
@import 'mixin';

* {
    margin: 0; /*setting margin to 0, to reset the default page styling*/
    padding: 0; /*setting padding to 0 to reset the default page styling*/
    outline: 0; /*setting outline to 0 to reset the default page styling*/
    border: 0; /*setting border to 0 to reset the default page styling*/
    box-sizing: border-box; /*setting box-sizing, so we dont need to manually count this*/
}

html {
    font-size: 16px; /*setting page font size to 16px*/
}

body {
    font-size: 1rem; /*making 16px font-size equivalent to 1 rem*/
    font-family: 'Montserrat', sans-serif;; /*setting the font*/
}

a {
    text-decoration: none; /*removing the text decoration for links (i.e. underline)*/
}

ul, ol {
    list-style: none; /*removing list styling (bullets) for the lists*/
}

.container {
    background: $color--gradient;

    .header {
        @include flex(row, space-between, center); /*including flex*/
        @include padding (($size/2), ($size + 60px), 0 , ($size + 60px));

        .header__wrap {
            @include flex(column, flex-start, center); /*including flex*/

            .header__info {
                @include flex(row, flex-start, center); /*including flex*/
                
                .header__nav {
                    z-index: $z;
                    @include flex(row, flex-start, center); /*including flex*/

                    .header__item {
                        @include padding (($size - 95px), ($size - 93px), ($size - 95px), ($size - 93px));
                        @include margin (0, ($size - 94px), ($size - 80px) , 0);
                        &:hover {
                            background: $color--additional;
                            @include border-radius (8px);
                        }

                        .header__link {
                            @include font-size(16px, 700, auto);
                            color: $font-color--main;
                        }
                    }

                    .header__item--special {
                        @include padding (0, ($size - 94px), ($size - 80px) , 0);

                        .header__link--special, .header__link--secondary {
                            color: $font-color--main;
                            &:hover {
                            color: $font-color--hover;
                            }
                        }
                    }
                }
            }

            .subheader__menu {
                @include flex(row, flex-start, center); /*including flex*/

                .subheader__nav {
                    @include flex(row, flex-start, center); /*including flex*/
                    z-index: $z;

                    .subheader__item {
                        @include padding (0, ($size - 85px), 0, 0);

                        .subheader__link {
                            @include font-size(16px, 700, auto);
                            color: $font-color--main;
                            &:hover {
                                color: $font-color--hover;
                            }
                        }
                    }
                }
            }
        }
    }

    .banner {

        .banner__content {

            @include flex(row, center, center); 

            .banner__img {
                position: absolute;
                top: 0;
            }

            .banner__title {
                z-index: $z;
                @include padding (($size*2 + 50px), 0, ($size*3 + 20px), 0);
                @include font-size(38px, 700, auto);
                color: $font-color--main;
            }
        }
    }

    .banner__dropdown {
        @include flex(column, center, center); 

        .dropdown__btn {
            background: none;
            z-index: $z;
        }

        .dropdown__menu {
            @include flex(row, center, center); 
            @include padding (($size - 10px), ($size*3 - 20px), ($size - 40px), ($size*2 + 80px));
            color: $font-color--main;

            .dropdown__headings {
                @include flex(column, flex-start, flex-end); 
                @include padding (($size - 70px), ($size - 40px), ($size - 70px), 0);
                @include font-size(38px, 700, 46px);
                border-right: 4px solid rgba(255, 255, 255, 0.3);
                width: $width;
                display: inline-block;

                .dropdown__item {
                    @include padding (0, 0, ($size - 80px), 0);
                    
                    .dropdown__link {
                        color: $font-color--disabled;
                        &:hover {
                            color: $font-color--hover;
                        }
                    }
                }
            }

            .dropdown__content {
                @include padding (0, 0, 0, ($size - 40px));

                .dropdown__subheading {
                    @include padding (0, 0, ($size - 70px), 0);
                    @include font-size(30px, 700, auto);
                }

                .dropdown__text {
                    @include font-size(19px, 400, 30px);
                }
            }
        }
    }

    .service__info {
        @include flex(column, flex-start, flex-start);
        @include padding (($size - 40px), ($size + 60px), ($size - 40px), ($size + 60px));

        .service__subheading {
            @include flex(row, flex-start, center);

            .service__heading {
                @include font-size(14px, 700, 14px);
                @include padding (0, ($size - 95px), 0, 0);

                .service__link {
                    color: $font-color--accent;
                    &:hover {
                        color: $font-color--hover;
                    }
                }
            }
        }

        .service__title {
            @include font-size(38px, 700, 46px);
            background: $font-color--gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            @include padding (($size - 90px), 0, 0, 0);
        }
    }
}
