/*setting the values below*/
/*font-weight*/
/*z-index*/
/*importing mixin*/
* {
  margin: 0;
  /*setting margin to 0, to reset the default page styling*/
  padding: 0;
  /*setting padding to 0 to reset the default page styling*/
  outline: 0;
  /*setting outline to 0 to reset the default page styling*/
  border: 0;
  /*setting border to 0 to reset the default page styling*/
  box-sizing: border-box;
  /*setting box-sizing, so we dont need to manually count this*/ }

html {
  font-size: 16px;
  /*setting page font size to 16px*/ }

body {
  font-size: 1rem;
  /*making 16px font-size equivalent to 1 rem*/
  font-family: 'Montserrat', sans-serif;
  /*setting the font*/ }

a {
  text-decoration: none;
  /*removing the text decoration for links (i.e. underline)*/ }

ul, ol {
  list-style: none;
  /*removing list styling (bullets) for the lists*/ }

.container {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0 12px 0 -4px #CACADB, 0 24px 0 -8px #E7E7F2; }
  .container .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*including flex*/
    padding-top: 50px;
    padding-right: 160px;
    padding-bottom: 0;
    padding-left: 160px; }
    @media (min-width: 375px) and (max-width: 768px) {
      .container .header {
        padding-top: 20px;
        padding-right: 15px;
        padding-bottom: 20px;
        padding-left: 15px;
        display: flex;
        flex-direction: row;
        justify-content: row-reverse;
        align-items: flex-end;
        flex-wrap: wrap; } }
    @media (min-width: 375px) and (max-width: 768px) {
      .container .header .header__logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 100; }
        .container .header .header__logo .logo__text {
          padding-top: 10px;
          padding-right: 0;
          padding-bottom: 0;
          padding-left: 10px;
          font-size: 20px;
          font-size: 1.25rem;
          font-weight: 400;
          line-height: auto;
          color: #FFFFFF; } }
    .container .header .header__wrap {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      /*including flex*/ }
      @media (min-width: 375px) and (max-width: 768px) {
        .container .header .header__wrap {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center; } }
      .container .header .header__wrap .header__info {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        /*including flex*/ }
        @media (min-width: 375px) and (max-width: 768px) {
          .container .header .header__wrap .header__info {
            outline: 2px solid orange;
            padding-top: 10px;
            padding-right: 0;
            padding-bottom: 10px;
            padding-left: 0; } }
        .container .header .header__wrap .header__info .header__nav {
          z-index: 100;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          /*including flex*/ }
          .container .header .header__wrap .header__info .header__nav .header__item {
            padding-top: 5px;
            padding-right: 7px;
            padding-bottom: 5px;
            padding-left: 7px;
            margin-top: 0;
            margin-right: 6px;
            margin-bottom: 20px;
            margin-left: 0; }
            .container .header .header__wrap .header__info .header__nav .header__item:hover {
              background: #F0145A;
              border-radius: 8px; }
            .container .header .header__wrap .header__info .header__nav .header__item .header__link, .container .header .header__wrap .header__info .header__nav .header__item .header__link--special {
              font-size: 16px;
              font-size: 1rem;
              font-weight: 700;
              line-height: auto;
              color: #FFFFFF; }
          @media (min-width: 375px) and (max-width: 768px) {
            .container .header .header__wrap .header__info .header__nav .header__item--special {
              display: none; } }
          .container .header .header__wrap .header__info .header__nav .header__item--special, .container .header .header__wrap .header__info .header__nav .header__item--unique {
            padding-top: 0;
            padding-right: 6px;
            padding-bottom: 20px;
            padding-left: 0; }
            .container .header .header__wrap .header__info .header__nav .header__item--special .header__link--special, .container .header .header__wrap .header__info .header__nav .header__item--special .header__link--secondary, .container .header .header__wrap .header__info .header__nav .header__item--unique .header__link--special, .container .header .header__wrap .header__info .header__nav .header__item--unique .header__link--secondary {
              color: #FFFFFF; }
              .container .header .header__wrap .header__info .header__nav .header__item--special .header__link--special:hover, .container .header .header__wrap .header__info .header__nav .header__item--special .header__link--secondary:hover, .container .header .header__wrap .header__info .header__nav .header__item--unique .header__link--special:hover, .container .header .header__wrap .header__info .header__nav .header__item--unique .header__link--secondary:hover {
                color: #F0145A; }
      .container .header .header__wrap .subheader__menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /*including flex*/ }
        .container .header .header__wrap .subheader__menu .subheader__nav {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          /*including flex*/
          z-index: 100; }
          .container .header .header__wrap .subheader__menu .subheader__nav .subheader__item {
            padding-top: 0;
            padding-right: 15px;
            padding-bottom: 3px;
            padding-left: 0; }
            @media (min-width: 375px) and (max-width: 768px) {
              .container .header .header__wrap .subheader__menu .subheader__nav .subheader__item {
                display: none; } }
            .container .header .header__wrap .subheader__menu .subheader__nav .subheader__item .subheader__link {
              font-size: 16px;
              font-size: 1rem;
              font-weight: 700;
              line-height: auto;
              color: #FFFFFF; }
              .container .header .header__wrap .subheader__menu .subheader__nav .subheader__item .subheader__link:hover {
                color: #F0145A;
                border-bottom: 2px solid #F0145A; }
  .container .banner .banner__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .container .banner .banner__content .banner__img {
      position: absolute;
      top: 0; }
    .container .banner .banner__content .banner__title {
      z-index: 100;
      padding-top: 250px;
      padding-right: 0;
      padding-bottom: 320px;
      padding-left: 0;
      font-size: 38px;
      font-size: 2.375rem;
      font-weight: 700;
      line-height: auto;
      color: #FFFFFF; }
  .container .banner__dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .container .banner__dropdown .dropdown__btn {
      background: none;
      z-index: 100;
      cursor: pointer; }
    .container .banner__dropdown .dropdown__menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-top: 90px;
      padding-right: 280px;
      padding-bottom: 60px;
      padding-left: 280px;
      color: #FFFFFF; }
      .container .banner__dropdown .dropdown__menu .dropdown__headings {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        padding-top: 30px;
        padding-right: 60px;
        padding-bottom: 30px;
        padding-left: 0;
        font-size: 38px;
        font-size: 2.375rem;
        font-weight: 700;
        line-height: 46px;
        border-right: 4px solid rgba(255, 255, 255, 0.3);
        width: 100%;
        display: inline-block; }
        .container .banner__dropdown .dropdown__menu .dropdown__headings .dropdown__item {
          padding-top: 0;
          padding-right: 0;
          padding-bottom: 20px;
          padding-left: 0; }
          .container .banner__dropdown .dropdown__menu .dropdown__headings .dropdown__item .dropdown__link {
            color: #B3B3BA; }
            .container .banner__dropdown .dropdown__menu .dropdown__headings .dropdown__item .dropdown__link:hover {
              color: #F0145A; }
      .container .banner__dropdown .dropdown__menu .dropdown__content {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 60px; }
        .container .banner__dropdown .dropdown__menu .dropdown__content .dropdown__subheading {
          padding-top: 0;
          padding-right: 0;
          padding-bottom: 30px;
          padding-left: 0;
          font-size: 30px;
          font-size: 1.875rem;
          font-weight: 700;
          line-height: auto; }
        .container .banner__dropdown .dropdown__menu .dropdown__content .dropdown__text {
          font-size: 19px;
          font-size: 1.1875rem;
          font-weight: 400;
          line-height: 30px; }
    .container .banner__dropdown .hide {
      display: none; }
  .container .service__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 60px;
    padding-right: 160px;
    padding-bottom: 60px;
    padding-left: 160px; }
    .container .service__info .service__subheading {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      .container .service__info .service__subheading .service__heading .service__link {
        padding-top: 0;
        padding-right: 5px;
        padding-bottom: 0;
        padding-left: 0;
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        color: #24A3FF; }
        .container .service__info .service__subheading .service__heading .service__link:hover {
          color: #F0145A; }
    .container .service__info .service__title {
      font-size: 38px;
      font-weight: 700;
      line-height: 46px;
      color: #FFFFFF;
      background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      padding-top: 10px;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0; }
  .container .service__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 60px;
    padding-right: 160px;
    padding-bottom: 60px;
    padding-left: 160px;
    flex-wrap: wrap; }
    .container .service__content .service__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 32%;
      padding-top: 0;
      padding-right: 60px;
      padding-bottom: 87px;
      padding-left: 0; }
      .container .service__content .service__item .service__img {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 30px;
        padding-left: 0; }
      .container .service__content .service__item .service__subtitle {
        font-size: 22px;
        font-size: 1.375rem;
        font-weight: 700;
        line-height: 27px;
        color: #24A3FF;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 15px;
        padding-left: 0; }
        .container .service__content .service__item .service__subtitle:hover {
          color: #F0145A; }
      .container .service__content .service__item .service__text {
        font-size: 16px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 26px;
        color: #FFFFFF; }

.section .slideshow__container {
  padding-top: 60px;
  padding-right: 160px;
  padding-bottom: 60px;
  padding-left: 160px; }
.section .slider {
  width: 100%;
  height: 298px;
  border-radius: 20px;
  overflow: hidden;
  position: relative; }
  .section .slider .slider__item {
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; }
    .section .slider .slider__item .slide {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      transform-origin: center center;
      transform: scale(1);
      scroll-snap-align: center;
      background: #F5F5FA; }
    .section .slider .slider__item .slider__img {
      border-radius: 12px 0px 0px 12px; }
    .section .slider .slider__item .slideshow__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      padding-left: 30px; }
      .section .slider .slider__item .slideshow__content .slideshow__title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
        .section .slider .slider__item .slideshow__content .slideshow__title .service__link {
          padding-top: 0;
          padding-right: 4px;
          padding-bottom: 0;
          padding-left: 0;
          font-size: 14px;
          font-weight: 700;
          line-height: 14px;
          color: #24A3FF; }
          .section .slider .slider__item .slideshow__content .slideshow__title .service__link:hover {
            color: #F0145A; }
    .section .slider .slider__item .slideshow__subtitle {
      font-size: 38px;
      font-weight: 700;
      line-height: 46px;
      color: #FFFFFF;
      background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 30px;
      padding-left: 0; }
    .section .slider .slider__item .slideshow__text {
      font-size: 16px;
      font-size: 1rem;
      font-weight: 700;
      line-height: 20px;
      color: #B3B3BA;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 6px;
      padding-left: 0; }
    .section .slider .slider__item .slideshow__subtext {
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 22px;
      color: #B3B3BA; }
  .section .slider .dots {
    position: absolute;
    bottom: 50px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%; }
  .section .slider .dot {
    width: 8px;
    height: 8px;
    background: gray;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer; }
  .section .slider .active-dot {
    background: #3f3f3f;
    cursor: default; }
.section .sponsors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section .sponsors .sponsors__title {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 17px;
    color: #323264;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 30px;
    padding-left: 0; }
  .section .sponsors .sponsor__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 60px;
    padding-left: 0; }
    .section .sponsors .sponsor__content .sponsor__img, .section .sponsors .sponsor__content .sponsor__img--special, .section .sponsors .sponsor__content .sponsor__img--modified, .section .sponsors .sponsor__content .sponsor__img--secondary, .section .sponsors .sponsor__content .sponsor__img--edited {
      width: 23%; }
    .section .sponsors .sponsor__content .sponsor__img--special {
      border-radius: 10px 0 0 0; }
    .section .sponsors .sponsor__content .sponsor__img--modified {
      border-radius: 0 10px 0 0; }
    .section .sponsors .sponsor__content .sponsor__img--secondary {
      border-radius: 0 0 0 10px; }
    .section .sponsors .sponsor__content .sponsor__img--edited {
      border-radius: 0 0 10px 0; }
.section .products {
  padding-top: 60px;
  padding-right: 160px;
  padding-bottom: 30px;
  padding-left: 160px;
  background: #F5F5FA; }
  .section .products .product__container .product__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .section .products .product__container .product__title .product__heading {
      padding-top: 0;
      padding-right: 5px;
      padding-bottom: 10px;
      padding-left: 0; }
      .section .products .product__container .product__title .product__heading .service__link {
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        color: #24A3FF; }
        .section .products .product__container .product__title .product__heading .service__link:hover {
          color: #F0145A; }
    .section .products .product__container .product__title .product__subtitle {
      font-size: 38px;
      font-weight: 700;
      line-height: 46px;
      color: #FFFFFF;
      background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 30px;
      padding-left: 0; }
  .section .products .product__container .product__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 30px; }
    .section .products .product__container .product__info .product__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background: white;
      width: 40%;
      border-radius: 8px;
      height: 480px; }
      .section .products .product__container .product__info .product__content .product__img {
        align-self: stretch; }
        .section .products .product__container .product__info .product__content .product__img:hover {
          opacity: 0.5; }
      .section .products .product__container .product__info .product__content .product__details {
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px; }
        .section .products .product__container .product__info .product__content .product__details .product__subheading {
          padding-top: 0;
          padding-right: 0;
          padding-bottom: 15px;
          padding-left: 0;
          font-size: 16px;
          font-size: 1rem;
          font-weight: 700;
          line-height: 20px;
          color: #24A3FF; }
          .section .products .product__container .product__info .product__content .product__details .product__subheading:hover {
            color: #F0145A; }
        .section .products .product__container .product__info .product__content .product__details .product__date {
          padding-top: 0;
          padding-right: 0;
          padding-bottom: 15px;
          padding-left: 0;
          font-size: 12px;
          font-size: 0.75rem;
          font-weight: 700;
          line-height: 15px;
          color: #B3B3BA;
          border-bottom: 4px solid #E6E6F0; }
        .section .products .product__container .product__info .product__content .product__details .product__text {
          padding-top: 15px;
          padding-right: 0;
          padding-bottom: 0;
          padding-left: 0;
          font-size: 14px;
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 22px; }

.footer {
  background: #F5F5FA;
  padding-top: 30px;
  padding-right: 160px;
  padding-bottom: 30px;
  padding-left: 160px; }
  .footer .footer__wrapper {
    border-top: 2px solid #E6E6F0; }
    .footer .footer__wrapper .footer__items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding-top: 30px;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0; }
      .footer .footer__wrapper .footer__items .footer__nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
        .footer .footer__wrapper .footer__items .footer__nav .footer__subcontent {
          padding-top: 0;
          padding-right: 10px;
          padding-bottom: 0;
          padding-left: 0; }
          .footer .footer__wrapper .footer__items .footer__nav .footer__subcontent .footer__link {
            font-size: 16px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 20px;
            color: #000000; }
            .footer .footer__wrapper .footer__items .footer__nav .footer__subcontent .footer__link:hover {
              color: #F0145A; }
          .footer .footer__wrapper .footer__items .footer__nav .footer__subcontent .footer__link--special {
            font-size: 12px;
            font-size: 0.75rem;
            font-weight: 700;
            line-height: 15px;
            color: #24A3FF; }
            .footer .footer__wrapper .footer__items .footer__nav .footer__subcontent .footer__link--special:hover {
              color: #F0145A; }
    .footer .footer__wrapper .footer__text {
      font-size: 16px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 20px;
      color: #B3B3BA; }
    .footer .footer__wrapper .footer__contacts {
      padding-top: 20px;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0; }
      .footer .footer__wrapper .footer__contacts .footer__nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
        .footer .footer__wrapper .footer__contacts .footer__nav .footer__details {
          padding-top: 0;
          padding-right: 10px;
          padding-bottom: 0;
          padding-left: 0; }
          .footer .footer__wrapper .footer__contacts .footer__nav .footer__details .footer__info, .footer .footer__wrapper .footer__contacts .footer__nav .footer__details .footer__info--special {
            font-size: 16px;
            font-size: 1rem;
            font-weight: 700;
            line-height: 20px;
            color: #000000; }
            .footer .footer__wrapper .footer__contacts .footer__nav .footer__details .footer__info:hover, .footer .footer__wrapper .footer__contacts .footer__nav .footer__details .footer__info--special:hover {
              color: #F0145A; }
          .footer .footer__wrapper .footer__contacts .footer__nav .footer__details .footer__info--special {
            color: #24A3FF; }

/*# sourceMappingURL=main.css.map */
